:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #f5f5f5;
  --color-white-faded: #f5f5f550;
  --color-grey: #bababa;
  --color-yellow: #c3ae69;
  --color-pink: #f49ac2;
  --color-pink-faded: #f49ac3bf;
  --color-scrim: #000000cc;

  /* Fonts */
  --font-nunito-sans: 'Nunito Sans', sans-serif;

  /* Font sizes */
  --size-xxs: 0.75rem;
  --size-xs: 1rem;
  --size-sm: 1.25rem;
  --size-md: 1.563rem;
  --size-lg: 2.441rem;
  --size-xl: 3.052rem;
  --size-xxl: 3.815rem;
  --size-xxxl: 4.5rem;

  /* Containers */
  --container-max-width: 1800px;
  --container-medium-width: 1200px;
  --container-small-width: 600px;

  /* Spacing */
  --spacing-section: clamp(4rem, 10vw, 6rem);
  --spacing-base: clamp(1rem, 2vw, 1.5rem);

  /* Transitions */
  --transition-normal: 0.25s ease-in-out;
  --transition-long: 0.5s ease-in-out;

  /* Borders */
  --border-radius: 0.25rem;
}

body {
  min-height: 100vh;
  color: var(--color-white);
  background: var(--color-black);
  font-family: var(--font-nunito-sans);
  font-size: var(--size-xs);
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.04rem;
}

body[data-overlay-displayed='true'] {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 900;
  text-wrap: balance;
}

h1 {
  font-size: clamp(var(--size-xl), 5vw, var(--size-xxl));
}
h2 {
  font-size: clamp(var(--size-lg), 5vw, var(--size-xl));
}
h3 {
  font-size: clamp(var(--size-md), 5vw, var(--size-lg));
}
h4 {
  font-size: clamp(var(--size-sm), 5vw, var(--size-md));
}
h5 {
  font-size: clamp(var(--size-xs), 5vw, var(--size-sm));
}

a {
  text-decoration: none;
  color: var(--color-white);
  transition: all var(--transition-normal);
}

a:hover,
a[aria-current='true'] {
  color: var(--color-pink);
}

svg {
  transition: fill var(--transition-normal);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

p {
  margin: 0 auto var(--spacing-base);
  font-size: clamp(var(--size-sm), 2vw, var(--size-md));
}

article p {
  text-wrap: balance;
}

strong {
  font-weight: 900;
}

.site-cta {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  max-width: fit-content;
  font-size: clamp(var(--size-xs), 2vw, var(--size-sm));
  font-weight: 400;
  letter-spacing: 0.05rem;
  transition: all var(--transition-normal);
}

.site-cta:hover,
.site-cta.button:hover {
  color: var(--color-black);
  background: var(--color-pink);
  border: 1px solid var(--color-pink);
}

.site-cta.button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .site-cta.button {
    padding: 0.75rem;
  }
}

.site-cta.large {
  display: block;
  padding: clamp(0.75rem, 5vw, 1rem) clamp(1.5rem, 5vw, 2rem);
  font-size: clamp(var(--size-sm), 2vw, var(--size-md));
  border-radius: 4rem;
}

.error {
  color: var(--color-pink);
  font-size: var(--size-xs);
}

/* Animations */

.aos-fade,
.aol-fade {
  opacity: 0;
  transition: opacity var(--transition-long);

  &.active {
    opacity: 1;
  }
}
