---
import Layout from '../layouts/Layout.astro'
import PageHeader from '../components/text/PageHeader.astro'
---

<Layout title="Robby Webb | About">
  <main class="main-content">
    <PageHeader text="About" />
  </main>
</Layout>
