---
import Layout from '../layouts/Layout.astro'
import Logo from '../components/Logo.astro'
import InstagramIcon from '../components/icons/InstagramIcon.astro'
---

<Layout title="Robby Webb | Producer, Drummer, Engineer">
  <main>
    <nav class="nav">
      <Logo />
      <ul class="nav-items">
        <li><a href="/discography">Discography</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="nav-icons">
        <a href="https://www.instagram.com/rwebbdrums/" target="_blank" rel="noopener noreferrer">
          <InstagramIcon />
        </a>
      </div>
    </nav>
  </main>
</Layout>

<style>
  .nav,
  .nav-items {
    display: flex;
    align-items: center;
  }

  .nav {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .nav-items {
    flex-direction: row;
    gap: clamp(2rem, 5vw, 4rem);
    height: 4rem;
    margin: 0 0 1rem;
    padding-inline-start: 0;
    list-style: none;
    text-transform: uppercase;
  }

  .nav-icons a {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
