---
import Layout from '../layouts/Layout.astro'
import MainContent from '../components/MainContent.astro'
---

<Layout title="Robby Webb | Producer, Drummer, Engineer">
  <meta
    slot="head"
    name="google-site-verification"
    content="lUO4ZVVpFSsy1Y7rwcjkxgw-XVYXc3vWEKvHg9zqjdA"
  />
  <MainContent>
    <h1>Robby Webb</h1>
  </MainContent>
</Layout>
