---
import Layout from '../layouts/Layout.astro'
import MainContent from '../components/MainContent.astro'
import PageHeader from '../components/text/PageHeader.astro'
---

<Layout title="Robby Webb | Mixing">
  <MainContent>
    <PageHeader text="Mixing" />
    <section id="mixing" class="mixing"></section>
  </MainContent>
</Layout>
