---
import Layout from '../layouts/Layout.astro'
import MainContent from '../components/MainContent.astro'
import PageHeader from '../components/text/PageHeader.astro'
---

<Layout title="Robby Webb | Privacy Policy">
  <MainContent>
    <section id="privacy-policy" class="privacy-policy">
      <PageHeader text="Privacy Policy" />
      <!-- TODO: complete -->
    </section>
  </MainContent>
</Layout>
