---
import Layout from '../layouts/Layout.astro'
import MainContent from '../components/MainContent.astro'
import PageHeader from '../components/text/PageHeader.astro'
---

<Layout title="Robby Webb | Success">
  <MainContent>
    <PageHeader text="Thank you for your message" />
    <section id="success" class="success">
      <p>I will get back to you as soon as I can!</p>
      <a class="site-cta button large" href="/">Back to Home</a>
    </section>
  </MainContent>
</Layout>

<style>
  .success {
    height: 80vh;
  }

  .success p {
    margin-bottom: clamp(2rem, 4vw, 4rem);
    text-align: center;
  }
</style>
