<footer class="footer">
  &copy; Made by
  <a href="https://wavelandweb.com" target="_blank" rel="noopener noreferrer"> Wave Land Web</a>
</footer>

<style>
  .footer {
    padding: 2rem 1rem;
    text-align: center;
    font-weight: 300;
    color: var(--color-grey);
  }

  .footer a {
    color: var(--color-grey);
  }

  .footer a:hover {
    color: var(--color-pink);
  }
</style>
