---
import { Icon } from 'astro-icon'

const { pathname } = Astro.url
---

<a href="/">
  <Icon name="logo" class={pathname === '/' ? 'logo' : 'responsive-logo'} />
</a>

<style>
  a {
    position: relative;
    z-index: 10;
  }

  .logo,
  .responsive-logo {
    display: block;
  }

  .logo {
    width: 260px;
  }

  .responsive-logo {
    width: clamp(200px, 20vw, 260px);
  }
</style>
