---
import InstagramIcon from './icons/InstagramIcon.astro'
---

<div class="social-icons">
  <a href="https://www.instagram.com/rwebbdrums/" target="_blank" rel="noopener noreferrer">
    <InstagramIcon />
  </a>
</div>

<style>
  .social-icons {
    position: fixed;
    right: 1.25rem;
    bottom: 2rem;
    z-index: 100;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .social-icons {
      right: 2rem;
    }
  }

  .social-icons a {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
