---
import { Picture } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import MainContent from '../components/MainContent.astro'
import PageHeader from '../components/text/PageHeader.astro'
import backgroundImage from '../assets/images/landing-page-hero.jpg'
---

<Layout title="Robby Webb | Producer, Drummer, Engineer">
  <meta
    slot="head"
    name="google-site-verification"
    content="lUO4ZVVpFSsy1Y7rwcjkxgw-XVYXc3vWEKvHg9zqjdA"
  />
  <MainContent class="main-custom">
    <section id="entry" class="entry">
      <div class="entry-content">
        <PageHeader text="What can I help you with?" />
        <p>Choose below to learn more:</p>
        <div class="entry-ctas">
          <a href="/mixing" class="site-cta large">Mixing</a>
          <a href="/producing" class="site-cta large">Producing</a>
        </div>
      </div>
      <Picture
        src={backgroundImage}
        formats={['avif', 'webp']}
        loading="eager"
        alt="Robby Webb with two other musicians in a mixing room"
      />
    </section>
  </MainContent>
</Layout>

<style>
  .main-custom {
    max-width: none;
    padding: 0;
  }

  .entry {
    position: relative;
    height: 75vh;
    max-height: 550px;
    margin-bottom: var(--spacing-section);
    border-radius: var(--border-radius);
    overflow: hidden;

    & .entry-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      z-index: 1;
      text-align: center;
      color: var(--color-white);

      & h1,
      & p {
        margin-bottom: 2rem;
      }

      & .entry-ctas {
        display: flex;
        justify-content: center;
        gap: 1rem;

        & .site-cta {
          margin: 0;
        }
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: var(--border-radius);
      filter: brightness(0.2) blur(1rem);
      transition: all var(--transition-long);

      &.loaded {
        filter: brightness(0.2) blur(0);
      }
    }
  }
</style>

<script>
  // Fade in background image when the page is loaded
  document.addEventListener('astro:page-load', () => {
    const img = document.querySelector('.entry img')
    img?.classList.add('loaded')
  })
</script>
