---
import Picture from 'astro/components/Picture.astro'
import mixingOneImage from '../assets/images/mixing-1.jpg'
import mixingTwoImage from '../assets/images/mixing-2.jpg'
import mixingBioImage from '../assets/images/mixing-bio.jpg'
import TextContent from '../components/text/Content.astro'
import PageHeader from '../components/text/PageHeader.astro'
import MainContent from '../components/ui/MainContent.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Robby Webb | Mixing">
  <MainContent>
    <PageHeader class="page-header-custom" text="Mixing" />

    <section id="mixing" class="mixing">
      <article id="what-is-mixing" class="lsa no-repeat">
        <Picture
          src={mixingOneImage}
          formats={['avif', 'webp']}
          loading="eager"
          alt="Robby Webb mixing"
        />
        <TextContent>
          <p>
            Mixing is the art and science of blending individual tracks within a recording to create
            a version of the song that sounds as good as possible. This process involves balancing
            levels, fine-tuning dynamics, applying effects, and sculpting the sonic space of each
            element. It's where we take your raw recordings and transform them into a polished,
            cohesive, and captivating piece of music.
          </p>
          <p>
            But mixing is more than just a technical process; it's a creative journey. It's about
            understanding the vision behind your music and enhancing it, ensuring that every
            instrument sits perfectly in the mix, and that your track conveys the emotions you want
            it to.
          </p>
        </TextContent>
      </article>

      <article id="what-you-can-expect" class="lsa no-repeat">
        <Picture src={mixingTwoImage} formats={['avif', 'webp']} alt="Robby Webb mixing" />
        <TextContent alignment="right">
          <p>
            When you work with me, you're not just getting a service; you're gaining a partner in
            your musical journey. Here's what you can expect:
          </p>
          <ul>
            <li>
              <strong>Clarity and Depth:</strong> Ensure each instrument and voice is distinct, with
              the depth and richness your music deserves.
            </li>
            <li>
              <strong>Emotional Impact:</strong> My mixing process enhances the emotional core of your
              music, ensuring that your listeners feel every note.
            </li>
            <li>
              <strong>Industry Standards:</strong> Your final mix will not only sound great in your headphones
              but across all platforms and devices, meeting today's industry standards for streaming,
              radio, and beyond.
            </li>
          </ul>
        </TextContent>
      </article>

      <article id="bio" class="lsa no-repeat">
        <TextContent>
          <p>
            I'm Robby Webb, a mixing engineer with a passion for helping artists bring their music
            to life. I've worked with artists across a wide range of genres, from pop to rock to
            hip-hop, and I bring that experience to every project I work on. I understand that every
            song is unique, and I approach each mix with fresh ears and an open mind, ensuring that
            your music gets the attention it deserves.
          </p>
          <p>
            Whether you're a seasoned pro or just starting out, I'm here to help you take your music
            to the next level. Let's work together to create a mix that captures the essence of your
            music and connects with your audience in a meaningful way.
          </p>
        </TextContent>
        <Picture src={mixingBioImage} formats={['avif', 'webp']} alt="Robby Webb mixing" />
      </article>
    </section>

    <section id="listen" class="listen lsa no-repeat">
      <iframe
        src="https://app.filepass.com/player/xM9nrxEzJgZYSCo9"
        style="background: transparent; border: none; outline: none;"
        width="100%"
        height="690"
        title="Robby Webb - Mixing Portfolio"
        loading="lazy"></iframe>
      <a href="/contact" class="site-cta large">Let's Get Started</a>
    </section>
  </MainContent>
</Layout>

<style>
  .mixing,
  .listen {
    margin-bottom: calc(var(--spacing-section) + 4rem);
  }

  .mixing article {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: calc(var(--spacing-section) + 4rem);
    grid-template-areas:
      'image'
      'content';
    margin-bottom: calc(var(--spacing-section) + 4rem);

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'content image';
      gap: var(--spacing-section);

      &:nth-child(2) {
        grid-template-areas: 'image content';
      }
    }

    & img {
      grid-area: image;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
  }

  .listen {
    max-width: var(--container-small-width);
    margin-left: auto;
    margin-right: auto;

    & .site-cta {
      margin: var(--spacing-section) auto 0;
    }
  }
</style>
