---
import Picture from 'astro/components/Picture.astro'
import productionOneImage from '../assets/images/production-1.jpg'
import productionTwoImage from '../assets/images/production-2.jpg'
import productionBioImage from '../assets/images/production-bio.jpg'
import TextContent from '../components/text/Content.astro'
import PageHeader from '../components/text/PageHeader.astro'
import MainContent from '../components/ui/MainContent.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Robby Webb | Production">
  <MainContent>
    <PageHeader class="page-header-custom" text="Production" />

    <section id="production" class="production">
      <article id="what-is-production" class="lsa no-repeat">
        <Picture
          src={productionOneImage}
          formats={['avif', 'webp']}
          loading="eager"
          alt="Robby Webb Production"
        />
        <TextContent alignment="right">
          <p>
            Music production is the canvas of sound, where every stroke, color, and texture come
            together to form a masterpiece. It encompasses the entire journey of a song from its
            initial idea to its final master. A producer is your guide, mentor, and collaborator,
            ensuring that each element of the song serves its purpose and contributes to the overall
            narrative.
          </p>
          <p>
            It's about shaping the song's architecture, choosing the right sounds, and creating an
            environment where artists can shine. The role of a producer is multifaceted, blending
            creativity with technical prowess to enhance the song's emotional depth and sonic
            quality.
          </p>
        </TextContent>
      </article>

      <article id="what-you-can-expect" class="lsa no-repeat">
        <Picture src={productionTwoImage} formats={['avif', 'webp']} alt="Robby Webb producing" />
        <TextContent>
          <p>Here's what your production journey looks like with me:</p>
          <ul>
            <li>
              <strong>Creative Environment:</strong> We provide a space where creativity flows freely,
              where you're encouraged to explore, experiment, and express yourself musically.
            </li>
            <li>
              <strong>Technical Mastery:</strong> Leveraging cutting-edge technology and time-honored
              techniques, we sculpt your music to sound pristine on every platform, from headphones to
              live stages.
            </li>
            <li>
              <strong>Empowerment:</strong> Our goal is to empower you as an artist. We provide insights,
              techniques, and perspectives that enhance your musical expression and propel your career
              forward.
            </li>
          </ul>
        </TextContent>
      </article>

      <article id="bio" class="lsa no-repeat">
        <TextContent>
          <p>
            I'm Robby Webb, a mixing engineer with a passion for helping artists bring their music
            to life. I've worked with artists across a wide range of genres, from pop to rock to
            hip-hop, and I bring that experience to every project I work on. I understand that every
            song is unique, and I approach each mix with fresh ears and an open mind, ensuring that
            your music gets the attention it deserves.
          </p>
          <p>
            Whether you're a seasoned pro or just starting out, I'm here to help you take your music
            to the next level. Let's work together to create a mix that captures the essence of your
            music and connects with your audience in a meaningful way.
          </p>
        </TextContent>
        <Picture src={productionBioImage} formats={['avif', 'webp']} alt="Robby Webb mixing" />
      </article>
    </section>

    <section id="listen" class="listen lsa no-repeat">
      <iframe
        src="https://app.filepass.com/player/mi6sGiBPcsdUIeFn"
        style="background: transparent; border: none; outline: none;"
        width="100%"
        height="576"
        title="Robby Webb - Production Portfolio"
        loading="lazy"></iframe>
      <a href="/contact" class="site-cta large">Let's Get Started</a>
    </section>
  </MainContent>
</Layout>

<style>
  .production,
  .listen {
    margin-bottom: calc(var(--spacing-section) + 4rem);
  }

  .production article {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: calc(var(--spacing-section) + 4rem);
    grid-template-areas:
      'image'
      'content';
    margin-bottom: calc(var(--spacing-section) + 4rem);

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'image content';
      gap: var(--spacing-section);

      &:nth-child(2) {
        grid-template-areas: 'content image';
      }
    }

    & img {
      grid-area: image;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
  }

  .listen {
    max-width: var(--container-small-width);
    margin-left: auto;
    margin-right: auto;

    & .site-cta {
      margin: var(--spacing-section) auto 0;
    }
  }
</style>
