---
import MainContent from '../components/MainContent.astro'
import PageHeader from '../components/text/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Robby Webb | Success">
  <MainContent>
    <PageHeader class="page-header-custom" text="Success!" />
    <section id="success" class="success">
      <p>Thanks so much for reaching out, I will get back to you as soon as possible 🎧</p>
      <a class="site-cta button large" href="/">← Back to home</a>
    </section>
  </MainContent>
</Layout>

<style>
  .page-header-custom,
  p {
    margin: 0 auto clamp(1rem, 5vw, 2rem);
  }

  .success {
    height: 80vh;
  }

  .success p {
    max-width: 425px;
    text-align: center;
  }
</style>
