---
export interface Props {
  text: string
  class?: string
}

const { text, class: className } = Astro.props
---

<h1 class={className}>{text}</h1>

<style>
  h1 {
    margin-bottom: var(--spacing-section);
    text-align: center;
  }
</style>
