---
import MobileLogo from '../Logo.astro'
import Desktop from './Desktop.astro'
import Mobile from './Mobile.astro'
---

<nav class="navigation">
  <MobileLogo class="logo-custom" />
  <Mobile />
  <Desktop />
</nav>

<style>
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(2rem, 5vw, 4rem);
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0.5rem 1rem;

    @media (min-width: 768px) {
      & {
        flex-direction: column;
        padding: 3rem var(--spacing-section);
      }
    }
  }

  @media (min-width: 1024px) {
    .logo-custom {
      display: none;
    }
  }
</style>
